<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>16/09/06 16:58:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateOffer.testCreateOffer()[pri:0, instance:com.code.java.selenium.CreateOffer@42dafa95]">testCreateOffer</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>16/09/06 16:58:39</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;StartWebDriver.tearDown()[pri:0, instance:com.code.java.selenium.CreateOffer@42dafa95]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
